/* default css  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #ffffff; */
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  list-style: none;

  /* border: 1px solid red; */
}

html,
body {
  font-size: 62.5%;
}
img {
  border-radius: 3px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* navbar  */
.navbar {
  position: sticky;
  top: 0;

  z-index: 999;
  background-color: #ffffff;
  /* margin-top: 100px; */
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.logo {
  font-size: 3rem;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.5rem;
  /* margin-left: 5rem; */
}
.menu-link {
  font-size: 2rem;
  opacity: 0.7;
  margin-left: 20px;
}

/* navbar ended */

/* hero started  */
.hero-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}
.hero-desc {
  margin-right: 50px;
}
.hero-title {
  margin-left: auto;
  font-size: 6rem;
  width: 80%;
}
.hero-sub {
  margin-top: 20px;
  margin-left: auto;
  font-size: 2rem;
  width: 80%;
  opacity: 0.7;
}
.hero-img {
  width: 60%;
}
.img-hero {
  width: 100%;
  border-radius: 50px;
}

/* hero ended */

/* card latest started  */

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
  overflow: hidden;

  margin-top: 100px;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
}
.card-latest {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.card-title {
  font-size: 3rem;
  margin-top: 50px;
}
.card-desc {
  font-size: 1.5rem;
  width: 65%;
  margin-top: 25px;
  opacity: 0.7;
}
.card-date {
  font-size: 1.5rem;
  opacity: 0.7;
  margin-top: 25px;
  margin-bottom: 50px;
}
.card-img-div {
  width: 100%;

  display: flex;
  justify-content: end;
}
.card-img {
  width: 90%;
}

/* group cards started  */
.cards {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards-content {
  /* margin-left: 10px; */
  /* display: flex;
flex-direction: column;
justify-content: space-between; */

  width: 27%;
  border: #e2e2e2 solid 1px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
}
.cards-img {
  width: 100%;
}
.cards-title {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 2.5rem;
}
.cards-desc {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 1.5rem;
  opacity: 0.7;
}
.cards-date {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 1.2rem;
  opacity: 0.7;
  margin-bottom: 20px;
}

/* lorem started  */
.lorem-content {
  /* margin: 0 auto; */
  background-color: #f7fafc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  /* width: 72.5%; */
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
}
.lorem-text {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.lorem-title {
  font-size: 4rem;
  width: 60%;
}
.lorem-desc {
  font-size: 2rem;
  width: 60%;
  opacity: 0.7;
  margin-top: 25px;
  margin-bottom: 25px;
}
.lorem-date {
  font-size: 1.5rem;
  opacity: 0.7;
  margin-bottom: 50px;
}

.btn-div {
  display: flex;
  justify-content: end;
  margin-bottom: 50px;
  align-items: center;
  margin: 0 auto;
  /* width: 72.5%; */
  border-bottom: #e4e4e4 solid 1px;
  margin-bottom: 50px;
}
.btn {
  background-color: #6b46c1;
  color: #ffffff;
  width: 10%;
  height: 35px;
  font-size: 1.5rem;
  border-radius: 5px;
  border: transparent;
  margin-top: 25px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .menu {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    align-items: start;
  }
  .menu-link {
    display: flex;
    justify-content: start;
  }
  .logo {
    margin-left: 20px;
  }

  /* hero media curies  */
  .hero-content {
    flex-direction: column;
  }
  .hero-title {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .hero-sub {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-bottom: 20px;
  }

  /* card latest media curies  */

  .card-content {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .card-img {
    width: 100%;
  }
  .card-latest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  /* group cards media curies  */
  .cards {
    flex-direction: column;
  }
  .cards-content {
    width: 100%;
  }
}
